h1 {
    text-align: center;
    font-size: 100px;
    color: yellow;
}

body {
    background-image: url("../image/timg.jpg");
    color: white;
}

div.hobby li {
    color: blue;
}

div.hobby li:hover {
    color: red;
}